*, *::before, *::after {
  box-sizing:border-box;
}

body {
  background: repeating-linear-gradient(
    -55deg,
    #efefef,
    #efefef 10px,
    #e9eeee 10px,
    #e9e9e9 20px
  );
}

.img {
  position: relative;
  display:inline-block;
  width:200px;
  height:200px;
  background-repeat: no-repeat;
  margin-bottom:20px;
}

.cssimg {
  border:1px solid blue;
}

.thumbimg {
  border:1px solid red;
}
.thumbimg img {
  display:block;
}

.code {
  vertical-align: top;
  max-width:200px;
  overflow: auto;
  background-color:silver;
}
